[submodule "stocks"]
	path = stocks
	url = ./stocks

[submodule "web"]
	path = web
	url = ./web
[submodule "tp-web-service"]
	path = tp-web-service
	url = https://github.com/danielfamiyeh/tp-web-service
